.tree-component{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    min-height: 90px;
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .tree-component p{
    font-size: 2rem;
    padding: 1rem;
    font-family: "Poppins";
  }
  
  @media screen and (max-width: 450px) {
    .tree-component{
      width: 85%;
    }
  
    .tree-component p{
      font-size: 1.2rem;
    }
}
.display-tree-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
.tree-screen-wrapper{
  width: 100vw;
  background-color: #ececec;
  min-height: 93vh;
  margin-top: 8vh;
}