.edit-wrapper {
    position: fixed;
    top: 0px;
    left:0;
    height: 100%;
    width: 100vw;
    background-color: rgba(25, 25, 25, 0.4);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .edit-wrapper-close {
    display: none;
  }
  
  .closebtn {
    cursor: pointer;
  }
  
  .edit-note {
    margin: auto;
    max-width: 280px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    font-family: "Poppins", sans-serif;
  }
  
  .edit-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    margin: 0;
  }
  
  .edit-title-main {
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid grey;
    width: 273px;
    border-radius: 8px;
    border-width: 2px;
    font-size: 1.2rem;
    padding: 0.2rem;
  }
  
  /* .content-area{
      min-width: 273px;
      max-width: 273px;
      min-height: 25vh;
      max-height: 25vh;
      border-color:grey;
      font-size: 1.2rem;
      border-width: 2px;
      border-radius:8px;
  } */
  
  .editnote-btn {
    margin-top: 2px;
    background-color: #315cfd;
    transition-duration: 0.2s;
    padding: 0.5rem;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
  }
  
  .form-inputs {
    margin: 0;
    padding: 0;
  }
  
  form {
    margin: 0;
  }
  
  @media screen and (max-width: 450px) {
    .edit-note {
      height: fit-content;
      max-width: 90vw;
      width: 85vw;
      position: relative;
    }
  
    .edit-heading h2 {
      font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 450px){
    .edit-note {
      height: fit-content;
      max-width: 90vw;
      width: 85vw;
      position: relative;
    }
  }