.btns {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.1rem;
}

.edit-btn {
  margin-right: 0.25rem;
}

.delete-btn {
  color: rgba(220, 40, 70, 0.85);
}

.delete-btn:hover {
  color: rgba(220, 40, 70, 1);
}

.card-wrapper {
  min-width: 70%;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.card-wrapper p {
  padding: 0 12px 0 12px;
}

.card-top {
  width: 100%;
  height: 3%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.task-holder {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.task-holder p {
  text-align: center;
}

.card-text {
  padding-inline: 1.2rem;
}

.card-header {
  width: 300px;
  display: inline-block;
  width: inherit;
  padding: 0.25rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.task-container {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 50px;
  overflow-y: scroll;
}

.task-container::-webkit-scrollbar {
  visibility: hidden;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  margin: 5px;
}

.delete-icon {
  background-color: #fff;
  align-items: center;
  border-radius: 50px;
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 1px;
  padding-right: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.delete-icon:hover {
  background-color: #315cfd;
  fill: #fff;
  transition: 0.2s;
}

.edit-icon {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.edit-icon:hover {
  background-color: #315cfd;
  fill: #fff;
  transition: 0.2s;
}

.tree-icon {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  font-size: 1rem;
  font-weight:500;
}

.tree-icon:hover {
  background-color: #315cfd;
  color: #fff;
  transition: 0.2s;
}

.drop-down{
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
}

.drop-option{
  width: 60%;
}

@media screen and (max-width: 878px) {
  .card-wrapper {
    min-width: 70%;
    height: 100px;
    max-width: 100vw;
  }

  .card-wrapper p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 678px) {
  .card-wrapper {
    min-width: 80%;
    height: 100px
    
  }

  .btns {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (min-height: 1000px) {
  .card-wrapper {
    /* height: 23vh; */
  }
}

@media screen and (max-width: 538px) {
  .card-wrapper {
    width: 80vw;
    height: 100px;
    max-width: 100vw;
  }
}

@media screen and (max-width: 450px) {
  .card-wrapper {
    height: 65px;
    width: 85%;
  }

  .card-header{
    font-size: 1rem;
    font-weight: 500;
  }

  .drop-down{
    margin-top: 0.4rem;
  font-size: 1.2rem;
  }

  .icon-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 2px;
    margin: 1px;
  }
  .delete-icon{
    height: 35px;
    width: 35px;
  }

  .edit-icon{
    height: 35px;
    width: 35px;
  }

  .tree-icon{
    height: 35px;
    width: 35px;
    font-size: 0.8rem;
  }

  .task-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}